@import url("https://fonts.googleapis.com/css?family=Roboto:300, 400&display=swap");

/* Utils */
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.6rem;
  line-height: 1;
}

h3 {
  font-size: 2rem;
}

h1,
h2,
h3 {
  font-weight: 400;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
  border-radius: 0.2rem;
}

.btn:hover {
  box-shadow: 0 0 0.6rem rgba(197, 82, 60, 0.8);
  transition: 0.3s;
}

.btn-primary {
  background-color: #c5523c;
}

.btn-secondary {
  border: 1px solid #c5523c;
  background-color: rgba(197, 82, 60, 0.2);
}

.btn-small {
  font-size: 1rem;
  padding: 0.6rem;
}

/* Header */
header {
  background: radial-gradient(#5d8ca6, #305674);
  text-align: center;
  color: #ffffff;
  box-shadow: 0 0.2rem 0.4rem rgba(48, 87, 116, 1);
  padding: 1rem;
}

/* Navigation Menu */
header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin: 0;
}

header nav ul li {
  list-style: none;
}

header nav ul a {
  text-decoration: none;
  color: #ffffff;
  margin: 1rem;
}

/* Footer */
footer {
  background: #d2d2d2;
  text-align: center;
  padding: 1rem;
}
