/* Header section */

header section a {
  margin: 1rem;
}

/* Features overview section */

.features-overview {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.features-overview article {
  max-width: 18rem;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #5d8ca6;
  box-shadow: 0.6rem 0.5rem 0.2rem rgba(48, 87, 116, 0.8);
  margin-top: 2rem;
}

.features-overview article img {
  max-width: 6rem;
}

.features-overview a {
  margin: 4rem 1rem 0 1rem;
}

/* Final section */
.exciting {
  max-width: 50%;
  margin: 0 auto;
}

.exciting div {
  text-align: center;
  margin-bottom: 2rem;
}
