main table {
  margin: 2rem auto;
  min-width: 80%;
}

main table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

main table tr:hover {
  background-color: #dddddd;
}

main table tr td {
  padding: 0.5rem 2rem;
}

.hello-phone-pro-specs {
  display: none;
}
