main,
table {
  margin: 2rem auto;
}

main table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

main table tr:hover {
  background-color: #dddddd;
}

main table tr td {
  padding: 0.5rem 2rem;
}

.buttons {
  text-align: center;
}

.buttons button {
  margin: 0 2rem;
  font-size: 1.5rem;
  padding: 1rem;
}

.pro-specs,
.pro-specs-head {
  display: none;
}
